/*
 * Empty Stylesheet file.
 */

.notSelectedCss {
    -fx-background-color: white;
    -fx-border-color: #ccccff;
    -fx-text-fill: #38424b;
}

.selectedCss {
    -fx-background-color: #9999ff;
    -fx-border-color: #ccccff;
    -fx-text-fill: #38424b;
}

.title {
    -fx-font-family: "Arial";
    -fx-font-size: 14;
    -fx-text-fill: rgba(255, 255, 255, 0.4);
    -fx-effect: dropshadow( one-pass-box , rgba(0, 0, 0, 0.6), 0, 0.0 , 0 , 1 );
}